/*
	Description: Master styles & other resources
	Author: kenton.glass@louisville.edu
  
	1. Resources
	2. Web Fonts
	3. General Elements
	4. Tables
	5. Forms
	6. Media
	7. Header
	8  Homepage
	9. Content
   10. Sidebar
   11. Footer
   12. Grid
   13. General Classes
   14. Mobile Menu
   15. Handheld Styles
   16. Tablet Styles
   17. Desktop Styles
   18. Retina Styles
   19. Print Styles
  
*/



/* 1. Resources
------------------------- */
@import "-extras/reset.css";
@import "-extras/fancybox.css";
@import "-extras/flexslider.css";



/* 2. Web Fonts
------------------------- */
@font-face {
    font-family:'Pictos';
    src:url('-fonts/pictos-web.eot');
    src: local('☺'), 
    url('-fonts/pictos-web.woff') format('woff'), 
    url('-fonts/pictos-web.ttf') format('truetype'),
    url('-fonts/pictos-web.svg#webfontIyfZbseF') format('svg');
}
@font-face {
	font-family:'Brisa';
	src:url('-fonts/brisa.eot');
	src:url('-fonts/brisa.eot?#iefix') format('embedded-opentype'),
	url('-fonts/brisa.woff') format('woff'),
	url('-fonts/brisa.ttf') format('truetype');
}




/* 3. General Elements
------------------------- */
body {
	background:#FFF;
	color:#333;
	-webkit-hyphens:auto;
	-moz-hyphens:auto;
	hyphens:auto;
	font-family:proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-rendering:optimizeLegibility;
}
a,a:visited {
	color:#AD0000;
	text-decoration:none;
}
a:hover,a:active,a:focus {
	color:#000;
}
h1 {
	padding:15px 10px 10px 0;
	font-size:24px;
	line-height:28px;
}
h2 {
	padding:10px 10px 10px 0;
	font-size:19px;
	line-height:23px;
}
h2.script {
	padding-bottom:5px;
	font-size:32px;
	font-family:Brisa;
	line-height:37px;
}
h3 {
	padding:10px 10px 10px 0;
	font-size:16px;
	line-height:20px;
}
h4 {
	padding:10px 10px 10px 0;
	font-size:14px;
	line-height:18px;
}
h5 {
	padding:5px 10px 5px 0;
	font-size:13px;
	line-height:17px;
}
h6 {
	padding:5px 10px 5px 0;
	font-size:11px;
	line-height:15px;
}
p {
	margin-bottom:10px;
	font-size:14px;
	line-height:18px;
}
dl {
	margin:0 0 8px 28px;
	font-size:13px;
	line-height:18px;
}
dl.no-indent {
	margin-left:0;
}
dt {
	margin-top:8px;
	font-weight:600;
}
dd {
	margin:3px 0;
}
h1,h2,h3,h4,h5,h6 {
	font-weight:600;
}
blockquote {
	margin:20px 30px;
	padding-left:15px;
	border-left:1px solid #AD0000;
}
blockquote p {
	font-size:13px;
	line-height:18px;
}
blockquote p.author {
	margin-bottom:15px;
	border-left:0;
	color:#AD0000;
	font-size:30px;
	font-family:Brisa;
	line-height:35px;
}
blockquote p.author-info {
	margin-top:-20px;
	color:#666;
}
sup,sub,.sup,.sub {
	position:relative;
	height:0;
	vertical-align:baseline;
	font-size:10px;
	line-height:18px;
}
sup,.sup {
	bottom:1ex;
}
sub,.sub {
	top:.5ex;
}
cite,.cite,em,.italic {
	font-style:italic;
}
strong,.bold {
	font-weight:600;
}
abbr,.abbr,acronym,.acronym,dfn,.dfn {
	border-bottom:1px dotted #666;
	cursor:help;
}
hr {
    clear:both; 
	margin:25px auto;
	width:50%;
    height:1px;
    border:0;
	background:#DDD;
	background:-webkit-linear-gradient(left, rgba(51,51,51,0), rgba(51,51,51,0.5), rgba(51,51,51,0)); 
    background:-moz-linear-gradient(left, rgba(51,51,51,0), rgba(51,51,51,0.5), rgba(51,51,51,0)); 
    background:-ms-linear-gradient(left, rgba(51,51,51,0), rgba(51,51,51,0.5), rgba(51,51,51,0)); 
    background:-o-linear-gradient(left, rgba(51,51,51,0), rgba(51,51,51,0.5), rgba(51,51,51,0));
    background:linear-gradient(left, rgba(51,51,51,0) 0%,rgba(51,51,51,0.5) 50%,rgba(51,51,51,0) 100%);
}



/* 4. Tables
------------------------- */
table {
	margin:10px 0;
	width:100%;
	border-collapse:collapse;
	font-size:13px;
}
table th,table td {
	padding:10px 10px 9px;
	text-align:left;
	line-height:18px;
}
table th {
	padding-top:9px;
	vertical-align:middle;
	font-weight:600;
}
table td {
	border-top:1px solid #DDD;
	vertical-align:top;
}
.bordered {
	border:1px solid #DDD;
	border-collapse:separate;
}
.bordered th + th,.bordered td + td,.bordered th + td {
	border-left:1px solid #DDD;
}
.zebra-striped tbody tr:nth-child(odd) td,.zebra-striped tbody tr:nth-child(odd) th {
	background-color:#F9F9F9;
}
.condensed th, .condensed td {
	padding:5px 5px 4px;
}
.staff td {
	padding:0;
	border-top:none;
}
.staff td img {
	float:left;
}
.staff td ul {
	float:left;
	margin:70px 0 0 10px !important;
	width:150px;
	list-style-type:none !important;
}
.staff td ul li {
	margin-bottom:3px !important;
}




/* 5. Forms
------------------------- */
.portalMessage,.message {
	margin:15px 0;
	padding:12px 10px 10px;
	border-left:5px solid #CCC;
	background:#F7F7F7;
	font-size:13px;
	line-height:18px;
}
.portalMessage a,.portalMessage a:visited,.message a,.message a:visited {
	border-bottom:1px solid #000;
	color:#000;
}
.portalMessage a:hover,.portalMessage a:active,.portalMessage a:focus,.message a:hover,.message a:active,.message a:focus {
	color:#333;
}
.portalMessage.info {
	display:none;
}
.notice {
	border-left-color:#E5B53A;
	background:#FBF4E2;
	background:rgba(229,181,58,.15);
}
.success {
	border-left-color:#B1B579;
	background:#F3F4EB;
	background:rgba(177,181,121,.15);
}
.error {
	border-left-color:#A20000;
	background:#F6E6E6;
	background:rgba(162,0,0,.10);
}
.field.error {
	border-left:none;
	background:none;
}
.field.error input,.field.error select,.field.error textarea,.field.error input:focus,.field.error select:focus,.field.error textarea:focus {
	border:1px solid #AD0000;
}
fieldset {
	border:1px solid #DDD;
}
#content fieldset {
	margin:10px 0;
}
legend {
	margin:0 10px;
	padding:0 5px;
	color:#333;
	font-weight:600;
	font-size:15px;
}
.field,.formControls {
	margin:10px 0 15px;
}
fieldset .field {
	margin:10px 15px 15px;
}
.field label,.label {
	display:block;
	padding-bottom:3px;
	width:auto;
	font-size:15px;
	line-height:18px;
}
.form-help {
	display:block;
	color:#BFBFBF;
	font-size:13px;
	line-height:18px;
}
input:-moz-placeholder,::-webkit-input-placeholder,.placeholder {
	color:#BFBFBF;
}
input,button,textarea {
    -webkit-border-radius:0;
    font-size:13px;
	-webkit-appearance:none;
}
input[type="text"],input[type="email"],input[type="search"],input[type="password"],textarea {
	padding:4px 6px;
	width:250px;
	outline:0;
    border:1px solid #CCC;
    box-shadow:inset 0 0 6px #DDD;
    color:#333;
}
input[type="text"]:focus,input[type="email"]:focus,input[type="search"]:focus,input[type="password"]:focus {
	border-color:#BFBFBF;
	box-shadow:inset 0 0 4px #BFBFBF;
}
textarea:focus {
	border-color:#BFBFBF;
	box-shadow:inset 0 0 6px #BFBFBF;
}
input[type=checkbox],input[type=radio] {
	width:auto;
	height:auto;
	border:none;
	line-height:normal;	
}
input[type=checkbox] {
	-webkit-appearance:checkbox;
}
input[type=radio] {
	-webkit-appearance:radio;
}
input[type=file] {
	padding:initial;
	border:initial;
	background-color:#FFF;
	line-height:initial;
}
select {
	padding:initial;
	width:250px;
	height:19px;
	border:1px solid #CCC;
	color:#808080;
	font-size:13px;
	line-height:19px;
}
select[multiple] {
	height:inherit;
	background-color:#FFF;
	*height:auto;
}
input[type=file]:focus,input[type=checkbox]:focus {
	height:27px;
	outline:1px dotted #666;
	line-height:27px;
	*height:auto;
}
select:focus {
	outline:1px dotted #666;
}
textarea {
	padding:4px 6px;
	width:90%;
	height:75px;
	line-height:18px;
	resize:vertical;
}
.disabled,input[disabled],select[disabled],textarea[disabled],input[readonly],select[readonly],textarea[readonly] {
	border-color:#DDD;
	background-color:#F5F5F5;
	cursor:not-allowed;
}
#page input[type="submit"],#campaign-container input[type="submit"], #page button,a.btn {
	padding:8px 12px;
	outline:0;
	border:1px solid #900;
	background:#C00;
	background:-moz-linear-gradient(top, rgba(230,0,0,1) 0%, rgba(204,0,0,1) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,0,0,1)), color-stop(100%,rgba(204,0,0,1)));
	background:-webkit-linear-gradient(top, rgba(230,0,0,1) 0%,rgba(204,0,0,1) 100%);
	background:-o-linear-gradient(top, rgba(230,0,0,1) 0%,rgba(204,0,0,1) 100%);
	background:-ms-linear-gradient(top, rgba(230,0,0,1) 0%,rgba(204,0,0,1) 100%);
	background:linear-gradient(top, rgba(230,0,0,1) 0%,rgba(204,0,0,1) 100%);
	box-shadow:inset 0 1px 6px rgba(255,255,255,0.75);
	color:#FFF;
	text-shadow:0 -1px 0 rgba(51,51,51,0.3);
	font-weight:600;
	font-size:13px;
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#E60000', endColorstr='#CC0000',GradientType=0 );
	cursor:pointer;
}
#page input[type="reset"],a.reset {
	margin-left:8px;
	padding:8px 12px;
	outline:0;
	border:1px solid #9d9b9b;
	background:#CCC;
	background:-moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(203,203,203,1) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(100%,rgba(203,203,203,1)));
	background:-webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(203,203,203,1) 100%);
	background:-o-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(203,203,203,1) 100%);
	background:-ms-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(203,203,203,1) 100%);
	background:linear-gradient(top, rgba(226,226,226,1) 0%,rgba(203,203,203,1) 100%);
	box-shadow:inset 0 1px 6px rgba(255,255,255,0.75);
	color:#666;
	font-weight:600;
	font-size:13px;
	cursor:pointer;
}
#page input[type="submit"]:active,#campaign-container input[type="submit"]:active,#page input[type="reset"]:active,#page button:active,.btn:active {
	position:relative;
	top:1px;
}
a.btn {
	display:inline-block;
	zoom:1;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;
}
.icon {
	font-weight:normal;
	font-size:15px;
	font-family:'Pictos';
	line-height:5px;
}
.btn .icon {
	margin-right:8px;
}
.register:before {
	content:"2";
}
.request-info:before {
	content:"i";
}
.left-arrow:before {
	content:"[";
}
.right-arrow:before {
	content:"]";
}
.ask-question:before {
	content:"?";
}
.download-file:before {
	content:"~";
}
.contact-us:before {
	content:"w";
}
.ArchetypesMultiSelectionValue label,.ArchetypesSelectionWidget span label {
	float:left;
	margin-left:3px;
	font-size:13px;
	cursor:pointer;
}
.ArchetypesSelectionWidget span label {
	float:none;
}
.ArchetypesMultiSelectionValue input,.ArchetypesSelectionWidget span input {
	float:left;
	cursor:pointer;
}



/* 6. Media
------------------------- */
#content img,.map {
	display:block;
	margin:15px 0;
	padding:1%;
	max-width:98%;
	border:1px solid #DDD;
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
}
.map {
	padding-bottom:2px;
}
#content .left-image {
	float:left;
	margin:10px 10px 10px 0;
}
#content .right-image {
	float:right;
	margin:10px 0 10px 10px;
}
#content a img:hover {
	border-color:#999;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.25);
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.25);
}
#content .plain,#content a img.plain:hover {
	border:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
 	box-shadow:none;
}
.video,.video-placeholder {
	max-width:100%;
	border:1px solid #DDD;
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
}
.video {
	margin-bottom:10px;
}
.video-placeholder {
	margin-bottom:0;
}



/* 7. Header
------------------------- */
#header {
	position:relative;
	z-index:1;
	background:#FFF;
	-webkit-box-shadow:0 1px 1px #999;
	-moz-box-shadow:0 1px 1px #999;
	box-shadow:0 1px 1px #999;
}
#logo {
	float:left;
}
#navigation li a,#navigation li a:visited {
	display:block;
	color:#333;
	font-weight:600;
	font-size:14px;
}
#navigation li a:hover,#navigation li a:active,#navigation li a:focus,#navigation li.current a {
	color:#AD0000;
}
#body {
	position:relative;
	z-index:0;
	padding:15px 0;
	width:100%;
	background:#F2F2F2 url(../img/background.png) repeat;
}
#site-info ul li {
	float:left;
	margin:5px 15px 0 0;
}
#site-info ul li:last-child {
	margin:0;
}
#site-info ul li a,#site-info ul li a:visited {
	color:#666;
	text-shadow:0 1px 0 #FFF;
	font-size:12px;
	line-height:18px;
}
#site-info ul li a.important {
	color:#AD0000;
}
#site-info ul li a:hover,#site-info ul li a:active,#site-info ul li a:focus {
	color:#AD0000;
}
#search-form fieldset {
	border:0;
}
#search {
	padding:0 5px;
	width:100px;
	height:25px;
	outline:0;
	border:1px solid #CCC;
	-webkit-box-shadow:0 1px 0 #FFF;
	-moz-box-shadow:0 1px 0 #FFF;
	box-shadow:0 1px 0 #FFF;
	cursor:pointer;
}
#search:focus {
	border-color:#BFBFBF;
}
#go {
	margin-left:5px;
	width:29px;
	height:27px;
	outline:0;
	border:0;
	background:#AD0000 url(../img/search.png) no-repeat;
	box-shadow:0 1px 0 #FFF;
	color:#FFF;
	vertical-align:top;
	text-indent:-9999px;
	text-transform:capitalize;
	cursor:pointer;
}
#back-to-top {
	position:fixed;
	top:3px;
	right:3px;
	z-index:15;
	display:none;
	width:25px;
	height:25px;
	background:transparent url(../img/back-to-top.png) no-repeat;
	text-indent:-99999px;
	
}
#call-us {
	float:right;
}



/* 8. Homepage
------------------------- */
#home h3, #home h3 a,#home h3 a:visited,#home h3 a:hover,#home h3 a:focus,#home h3 a:active {
	margin-bottom:10px;
	color:#333;
	text-shadow:0 1px 0 #FFF;
	font-size:21px;
	line-height:26px;
}
#home .flex-container {
	margin:15px 0 35px;
}
#content .flex-container {
	margin:15px 0 30px;
}
.flexslider {
	border:0;
	background:transparent;
}
#home .slides li {
	-webkit-box-shadow:0 0 1px 1px #999;
	-moz-box-shadow:0 0 1px 1px #999;
	box-shadow:0 0 1px 1px #999;
}
#content .slides li img {
	float:none;
	margin:0;
	border:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.flex-direction-nav {
	display:none;
}
.flex-direction-nav li a {
	margin-top:-30px;
}
.flex-direction-nav li .next {
	right:15px;
	background-position:-52px 0;
}
.flex-direction-nav li .prev {
	left:15px;
}
.flex-caption {
	bottom:-10px;
	padding:2.1%;
}
.flex-caption p {
	margin:0;
	color:#FFF;
	text-shadow:0 -1px 0 rgba(0,0,0,.3);
}
.flex-caption a,.flex-caption a:visited {
	color:#DDD;
}
.flex-caption a:hover,.flex-caption a:active,.flex-caption a:focus {
	color:#FFF;
}
#promo-container {
	margin:15px 0 0;
}
.promo {
	border-right:1px solid #CCC;
	border-left:1px solid #F5F5F5;
}
.promo p {
	text-shadow:0 1px 0 #FFF;
}
.promo img {
	position:relative;
	z-index:0;
	max-width:100%;
	border:0;
}
.caption {
	position:relative;
	left:0;
	z-index:1;
	background:#000;
	background:rgba(0,0,0,.5);
	color:#FFF;
	font-weight:700;
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
}
#ticker {
	clear:both;
	margin:0 auto 5px;
	padding:10px;
	background:#FFF;
	-webkit-box-shadow:0 0 1px 1px #999;
	-moz-box-shadow:0 0 1px 1px #999;
	box-shadow:0 0 1px 1px #999;
}
#ticker-inner {
	max-width:100%;
}
#ticker p {
	margin:0;
}
#ticker h4 {
	padding:0 0 5px 0;
}
#ticker ul {
	float:right;
}
#ticker ul li:last-child {
	margin-top:10px;
}
#ticker ul li a {
	padding:0 4px 2px;
	outline:0;
	border:1px solid #900;
	background:#C00;
	background:-moz-linear-gradient(top, rgba(230,0,0,1) 0%, rgba(204,0,0,1) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,0,0,1)), color-stop(100%,rgba(204,0,0,1)));
	background:-webkit-linear-gradient(top, rgba(230,0,0,1) 0%,rgba(204,0,0,1) 100%);
	background:-o-linear-gradient(top, rgba(230,0,0,1) 0%,rgba(204,0,0,1) 100%);
	background:-ms-linear-gradient(top, rgba(230,0,0,1) 0%,rgba(204,0,0,1) 100%);
	background:linear-gradient(top, rgba(230,0,0,1) 0%,rgba(204,0,0,1) 100%);
	box-shadow:inset 0 1px 6px rgba(255,255,255,0.75);
	color:#FFF;
	text-shadow:0 -1px 0 rgba(51,51,51,0.3);
	font-weight:700;
	font-size:10px;
	font-family:'Pictos';
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#E60000', endColorstr='#CC0000',GradientType=0 );
	cursor:pointer;
}



/* 9. Content
------------------------- */
#page,#campaign-container {
	margin:15px auto 5px;
	background:#FFF;
	-webkit-box-shadow:0 0 1px 1px #999;
	-moz-box-shadow:0 0 1px 1px #999;
	box-shadow:0 0 1px 1px #999;
}
#campaign-container {
	margin-top:5px;
	padding:0 15px;
}
#campaign {
	background:#F2F2F2 url(../img/background.png) repeat;
}
#information {
	float:left;
	padding-right:20px;
	width:610px;
	border-right:2px solid #F2F2F2;
}
#form-embed {
	float:right;
	margin-top:15px;
	width:278px;
}
#small-print {
	margin-top:20px;
}
#small-print p {
	font-size:11px;
	line-height:16px;
}
#content {
	padding:0 15px 4px;
	min-height:600px;
}
#content ul,#campaign-container ul {
	margin:0 0 8px 45px;
	list-style-type:square;
}
#content ol,#campaign-container ol {
	margin:0 0 8px 45px;
	list-style-type:decimal;
}
#content ul.no-indent,#content ol.no-indent,#campaign-container ul.no-indent,#campaign-container ol.no-indent {
	margin-left:15px;
}
#content ul li,#content ol li,#campaign-container ul li,#campaign-container ol li {
	margin:3px 0 10px;
	font-size:14px;
	line-height:19px;
}
#content .slides,#content .flex-control-nav,#content .flex-direction-nav { 
	margin:0;
	list-style-type:none;
}
#content ul.page-navigation {
	display:block;
	float:left;
	margin:20px 0 8px;
	width:100%;
	list-style-type:none;
}
#content ul.page-navigation li {
	display:block;
	float:left;
	margin-bottom:20px;
}
#content ul.page-navigation li a,#content ul.page-navigation li a:visited {
	padding:10px 8px;
	border-right:1px solid #F1F1F1;
	border-bottom:1px solid #DDD;
	background:#F7F7F7;
	color:#333;
}
#content ul.page-navigation li:last-child a,#content ul.page-navigation li:last-child a:visited {
	border-right:none;
}
#content ul.page-navigation li a:hover,#content ul.page-navigation li a:focus,#content ul.page-navigation li a:active {
	background:#F1F1F1;
}
#content ul.gallery,#content ul.video-gallery {
	margin:0 0 15px -8px;
	list-style-type:none;
}
#content ul.gallery li,#content ul.video-gallery li {
	display:inline;
	float:left;
	margin:0 0 -20px 8px;
}
#content ul.video-gallery li {
	margin-top:-60px;
}
#content ul.video-gallery li,#content ul.video-gallery li img {
	position:relative;
}
#content ul.video-gallery li a:hover img {
	border-color:#999;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.25);
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.25);
}
#content ul.video-gallery li a.current-video img {
	border-color:#999;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.25);
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.25);
}
#content ul.video-gallery li .play-video {
	top:115px;
	left:75px;
	z-index:5;
 	float:none;
	margin:0;
	padding:0;
	border:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
 	box-shadow:none;
	opacity:0.75;
}
#content ul.video-gallery li:hover .play-video,#content ul.video-gallery li a.current-video .play-video {
	opacity:0.9;
}
#content ul.courses,#content ul.rooms {
	margin:10px 0 10px -15px !important;
	list-style-type:none;
}
#content ul.courses li,#content ul.rooms li {
	display:block;
	float:left;
	padding:10px 15px;
	width:190px;
	border:2px solid #F2F2F2;
	border-left:0;
	text-align:center;
}
#content ul.rooms li {
	height:124px;
}
#content ul.courses li .btn {
	margin-top:10px;
}
#content ul.courses li.extra {
	padding-bottom:25px;
}
#content ul.rooms li {
	padding:10px 15px;
	width:190px;
	height:100px;
	text-align:left;
}
#content ul.toggle-tabs,#campaign-container ul.toggle-tabs {
	margin-left:0;
	list-style-type:none;
}
#content ul.toggle-tabs .tab,#campaign-container ul.toggle-tabs .tab {
	padding:10px;
	border-bottom:1px solid #DDD;
	background:#F7F7F7;
	font-weight:600;
	font-size:15px;
	line-height:20px;
	cursor:pointer;
}
#content ul.toggle-tabs img.arrow,#campaign-container ul.toggle-tabs img.arrow {
	float:right;
	margin:0;
	padding:0;
	border:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
#content ul.toggle-tabs .text,#campaign-container ul.toggle-tabs .text {
	margin:10px 0 20px;
}



/* 10. Sidebar
------------------------- */
#subnavigation li a,#subnavigation li a:visited {
	display:block;
	color:#333;
}
#subnavigation li a:hover,#subnavigation li a:active,#subnavigation li a:focus {
	color:#AD0000;
}
li.has-children > a {
	border-bottom:1px solid #F2F2F2;
}
li.has-children ul li a.current,li.has-children ul li a.in-path {
	margin-left:-2px;
}
#subnavigation ul.basement li a {
	padding:10px;
	border-top:1px solid #F2F2F2;
	font-size:14px;
	line-height:19px;
}
#subnavigation ul.basement li:first-child a {
	border-top:none;
}
#subnavigation ul.basement li a.current,#subnavigation ul.basement li a.in-path {
	border-left:2px solid #AD0000;
	color:#333;
	font-weight:600;
}
#subnavigation ul.first-floor,#subnavigation ul.second-floor,#subnavigation ul.third-floor {
	margin:10px 0 10px 13px;
	border-left:2px solid #F2F2F2;
}
#subnavigation ul.first-floor li a,#subnavigation ul.second-floor li a,#subnavigation ul.third-floor li a {
	padding:6px;
	border-top:0;
	font-size:12px;
	line-height:17px;
}
#ad-block,#sidebar-form {
	display:none;
	margin:15px auto 10px;
	padding:5px 10px;
	width:80%;
	border:1px solid #F1F1F1;
	background:#F9F9F9;
}
#sidebar-form {
	display:block;
}
#sidebar-form input {
	width:92%;
}
.ad h2 a,.ad h2 a:visited {
	color:#333;
}
.ad h2 a:hover,.ad h2 a:active,.ad h2 a:focus {
	color:#AD0000;
}
.ad img {
	margin:0 0 5px -5px !important;
	padding:4px;
	max-width:100%;
	border:1px solid #DDD;
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
}



/* 11. Footer
------------------------- */
#footer {
	position:relative;
	z-index:1;
	padding:14px 0;
	background:#FFF;
	-webkit-box-shadow:0 -1px 1px #999;
	-moz-box-shadow:0 -1px 1px #999;
	box-shadow:0 -1px 1px #999;
	font-size:12px;
}
#footer p {
	margin-top:0;
	color:#666;
	text-align:right;
	font-size:12px;
}
#csymbol {
	font-family:Helvetica,Arial,sans-serif;
}
#footer a,#footer a:visited {
	color:#666;
}
#footer a:hover,#footer a:active,#footer a:focus {
	color:#000;
}
#footer ul.footer-nav {
	float:left;
}
#footer ul.footer-nav li {
	margin-bottom:10px;
}
#footer ul.inner {
	margin-left:14px;
}
#social {
	float:right;
	height:32px;
}
#social li {
	float:left;
	margin-right:5px;
}
#social li:last-child {
	margin-right:0;
}
#social li a {
	display:block;
	width:32px;
	height:32px;
	background:#FFF url(../img/social.png) no-repeat;
	text-indent:-9999px;
}
#social li#email-icon a,#social li#email-icon a:visited {
	background-position:0 0;
}
#social li#email-icon a:hover,#social li#email-icon a:focus,#social li#email-icon a:active {
	background-position:0 -32px;
}
#social li#facebook-icon a,#social li#facebook-icon a:visited {
	background-position:-32px 0;
}
#social li#facebook-icon a:hover,#social li#facebook-icon a:active,#social li#facebook-icon a:focus {
	background-position:-32px -32px;
}
#social li#flickr-icon a,#social li#flickr-icon a:visited {
	background-position:-64px 0;
}
#social li#flickr-icon a:hover,#social li#flickr-icon a:active,#social li#flickr-icon a:focus {
	background-position:-64px -32px;
}
#social li#linkedin-icon a,#social li#linkedin-icon a:visited {
	background-position:-96px 0;
}
#social li#linkedin-icon a:hover,#social li#linkedin-icon a:active,#social li#linkedin-icon a:focus {
	background-position:-96px -32px;
}
#social li#rss-icon a,#social li#rss-icon a:visited {
	background-position:-128px 0;
}
#social li#rss-icon a:hover,#social li#rss-icon a:active,#social li#rss-icon a:focus {
	background-position:-128px -32px;
}
#social li#twitter-icon a,#social li#twitter-icon a:visited {
	background-position:-160px 0;
}
#social li#twitter-icon a:hover,#social li#twitter-icon a:active,#social li#twitter-icon a:focus {
	background-position:-160px -32px;
}
#social li#youtube-icon a,#social li#youtube-icon a:visited {
	background-position:-192px 0;
}
#social li#youtube-icon a:hover,#social li#youtube-icon a:active,#social li#youtube-icon a:focus {
	background-position:-192px -32px;
}



/* 12. Grid
------------------------- */
.grid {
	margin:0 auto;
	padding:10px;
	max-width:670px;
}
.row {
	clear:both;
	overflow:hidden;
	margin:0 0 0 -2.899%;
	max-width:690px;
	width:auto;
	list-style:none;
}
.row p {
	margin:0;
}
[class^="column-"] {
	float:left;
	margin:0 2.899% 0 0;
}
.row [class^="column-"] {
	margin:0 0 0 2.899%;
}

.column-1 {
	width:17.101%;
}
.column-2 {
	width:37.101%;
}
.column-3 {
	width:57.101%;
}
.column-4 {
	width:77.101%;
}
.column-5 {
	margin:0;
	width:97.101%;
}



/* 13. General Classes
------------------------- */
.container {
	margin:0 auto;
	width:96%;
}
.hidden {
	display:none;
}
.round {
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
.round-tl {
	-webkit-border-top-left-radius:6px;
	border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
}
.round-tr {
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
}
.round-bl {
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
}
.round-br {
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
}
.shadow {
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
}
.left {
	float:left;
}
.right {
	float:right;
}
.clear {
	clear:both;
}
.group:before, .group:after,.page-navigation:before,.page-navigation:after,.gallery:before,.gallery:after,.video-gallery:before,.video-gallery:after,.row:before,.row:after,.courses:before,.courses:after,.rooms:before,.rooms:after,#content img:before,#content img:after,.ArchetypesMultiSelectionValue:before,.ArchetypesMultiSelectionValue:after {
    display:table;
    content:"";
}
.group:after,.page-navigation:after,.gallery:after,.video-gallery:after,.row:after,.courses:after,.rooms:after,#content img:after,.ArchetypesMultiSelectionValue:after {
    clear:both;
}
.group,.page-navigation,.gallery,.row,.courses,.rooms,.video-gallery,#content img,.ArchetypesMultiSelectionValue {
    zoom:1;
}
.left-callout,.right-callout,.full-callout {
	padding:0 10px;
	background:#F6F8F8;
	background:rgba(194,209,211,0.15);
}
.left-callout {
	float:left;
	margin:10px 10px 10px 0;
	width:35%;
	border-right:1px solid #C2D1D3;
}
.right-callout {
	float:right;
	margin:10px 0 10px 10px;
	width:35%;
	border-left:1px solid #C2D1D3;
}
.full-callout {
	margin:10px 0;
	border:1px solid #C2D1D3;
}
.align-left {
	text-align:left;
}
.align-center {
	text-align:center;
}
.align-right {
	text-align:right;
}
.align-justify {
	text-align:justify;
}
.underline {
	text-decoration:underline;
}
.strike {
	text-decoration:line-through;
}
.overline {
	text-decoration:overline;
}
.upper {
	text-transform:uppercase;
}
.lower {
	text-transform:lowercase;
}
.subtitle {
	margin-top:-5px;
	padding-top:0;
	color:#5B6F7B;
	font-weight:normal;
}
.mini-subtitle {
	color:#666;
	font-size:13px;
}
.fine-print {
	color:#666;
	font-style:italic;
}
.purple {
	color:#56004E;
}
.brick {
	color:#8A2529;
}
.orange {
	color:#E36F1E;
}
.lite-orange {
	color:#F8981D;
}
.brown {
	color:#764200;
}
.tan {
	color:#CEAA7A;
}
.yellow {
	color:#F6E7A1;
}
.gold {
	color:#E5b53A;
}
.mustard {
	color:#C49F06;
}
.olive {
	color:#B1B579;
}
.green {
	color:#4F6E18;
}
.dark-green {
	color:#00703C;
}
.dark-blue {
	color:#004963;
}
.blue {
	color:#00788A;
}
.slate {
	color:#5B6F7B;
}
.lite-slate {
	color:#C2D1D3;
}



/* 14. Mobile Menu
------------------------- */
@media screen and (max-width:740px){


	
	/* 14.1 Header
	------------------------- */
	#logo {
		margin:20px 0;
	}
	#toggle-navigation {
		position:absolute;
		top:50px;
		right:5px;
		display:block;
	}
	#navigation {
		position:absolute;
		top:87px;
		right:0;
		display:none;
		background:#FFF;
		-webkit-box-shadow:-1px 1px 3px #999;
		-moz-box-shadow:-1px 1px 3px #999;
		box-shadow:-1px 1px 3px #999;
	}
	#navigation li {
		float:none;
	}
	#navigation li a {
		display:block;
		padding:10px;
		text-align:right;
		line-height:10px;
	}



/* End Mobile Menu */
}



/* 15. Handheld Styles
------------------------- */
@media screen and (max-width:650px){
	
	
	
	/* 15.1 General Elements
	------------------------- */
	hr {
		width:75%;
	}
	.left-callout,.right-callout {
		float:none;
		margin:10px 0;
		width:100%;
		border:1px solid #C2D1D3;
	}
	
	
	
	/* 15.2 Header
	------------------------- */
	#logo {
		margin:20px 0;
	}
	#toggle-navigation {
		position:absolute;
		top:50px;
		right:5px;
		display:block;
	}
	#navigation {
		position:absolute;
		top:87px;
		right:0;
		display:none;
		background:#FFF;
		-webkit-box-shadow:-1px 1px 3px #999;
		-moz-box-shadow:-1px 1px 3px #999;
		box-shadow:-1px 1px 3px #999;
	}
	#navigation li {
		float:none;
	}
	#navigation li a {
		display:block;
		padding:10px;
		text-align:right;
		line-height:10px;
	}
	#navigation li:last-child a {
		padding-right:10px;
	}
	#navigation li ul {
		display:none;
	}
	#site-info {
		position:absolute;
		top:5px;
		right:5px;
		float:none;
	}
	#site-info ul li {
		display:none;
	}
	#site-info ul li:last-child {
		display:block;
	}
	#search {
		width:100px;
	}
	#call-us {
		margin-top:8px;
	}
	#call-us h2 {
		font-size:14px;
	}
	
	
	
	/* 15.3 Homepage
	------------------------- */
	.promo {
		float:none;
		margin:0 auto;
		padding:10px 0;
		width:90%;
		height:auto;
		border:0;
		border-top:1px solid #F5F5F5;
		border-bottom:1px solid #CCC;
	}
	#promo-container .promo:first-child {
		border-top:0;
	}
	#promo-container .promo:last-child {
		border-bottom:0;
	}
	.caption {
		bottom:40px;
		padding:2% 4%;
		width:92%;
		font-size:12px;
		line-height:22px;
	}
	.caption span {
		font-size:16px;
	}
	#popout .btn {
		padding:11px 0;
		width:100%;
		text-align:center;
		font-size:18px;
	}
	#popout .reset {
		margin-left:0;
	}
	#popout p {
		text-align:center;
		font-weight:700;
		font-size:18px;
	}
	#ticker ul {
		display:none;
	}
	
	
	
	/* 15.4 Content
	------------------------- */
	.staff td ul {
		float:none;
		width:130px;
	}
	.staff td img {
		width:130px;
	}
	.fc-header-center,.fc-header-right {
		display:none;
	}
	#information {
		float:none;
		padding-right:0;
		width:auto;
		border-right:0;
		border-bottom:2px solid #F2F2F2;
	}
	#form-embed {
		float:none;
		width:auto;
	}
	
	/* 5. Sidebar
	------------------------- */
	#sidebar {
		padding-bottom:15px;
		border-top:2px solid #F2F2F2;
	}
	
	
	
	/* 15.5 Footer
	------------------------- */
	#footer .right {
		float:none;
		clear:both;
	}
	#footer p {
		text-align:center;
		font-size:11px;
	}
	#footer ul.footer-nav {
		float:left;
		margin:0 0 25px 5%;
	}
	#footer ul.inner {
		float:right;
		margin-right:5%;
		margin-left:0;
	}
	#social {
		float:none;
		margin:25px auto 10px;
		width:255px;
	}


/* End Handheld Styles */	
}



/* 16. Tablet Styles
------------------------- */
@media screen and (min-width:651px) and (max-width:950px){



	/* 15.1 Header
	------------------------- */
	#logo {
		margin:25px 0 8px;
	}
	#toggle-navigation {
		display:none;
	}
	#navigation {
		float:right;
		margin-top:5px;
	}
	#navigation li:last-child a {
		padding-right:0;
		background:#FFF;
	}
	#navigation li {
		float:left;
	}
	#navigation li a {
		display:block;
		padding:20px 8px 10px;
		background:#FFF;
		text-align:center;
		line-height:10px;
	}
	#navigation li ul {
		display:none;
	}
	#site-info {
		margin-top:8px;
	}
	#call-us {
		margin-top:10px;
	}
	
	
	
	/* 15.2 Homepage
	------------------------- */
	.promo {
		float:left;
		padding:0 2%;
		width:30%;
		height:170px;
	}
	.caption {
		bottom:32px;
		padding:2% 4%;
		width:92%;
		font-size:12px;
		line-height:22px;
	}
	.caption span {
		font-size:16px;
	}
	#promo-container {
		padding-bottom:15px;
	}
	#promo-container .promo:first-child {
		padding-left:0;
		border-left:0;
	}
	#promo-container .promo:last-child {
		padding-right:0;
		border-right:0;
	}
	#popout .btn {
		padding:11px 0;
		width:100%;
		text-align:center;
		font-size:18px;
	}
	#popout .reset {
		margin-left:0;
	}
	#popout p {
		text-align:center;
		font-weight:700;
		font-size:18px;
	}
	#ticker {
		margin-top:30px;
	}
	
	
	/* 15.3 Content
	------------------------- */
	#content {
		float:right;
		width:70.5%;
		border-left:2px solid #F2F2F2;
	}
	.staff td ul {
		float:none;
	}
	#information {
		float:none;
		padding-right:0;
		width:auto;
		border-right:0;
		border-bottom:2px solid #F2F2F2;
	}
	#form-embed {
		float:none;
		width:auto;
	}
	
	
	
	/* 15.4 Sidebar
	------------------------- */
	#sidebar {
		float:left;
		width:24%;
	}



/* End Tablet Styles */	
}



/* 17. Desktop Styles
------------------------- */
@media (min-width:951px){
	
	

	/* 17.1 Header
	------------------------- */
	#logo {
		margin-top:33px;
	}
	#toggle-navigation {
		display:none;
	}
	#navigation {
		float:right;
		margin-top:25px;
	}
	#navigation li:last-child a {
		background:#FFF;
	}
	#navigation li {
		float:left;
	}
	#navigation li a {
		display:block;
		padding:20px 13px 15px;
		width:auto;
		background:#FFF url(../img/li-border.png) no-repeat bottom right;
	}
	#navigation li.current a {
		background:#FFF url(../img/li-current.png) repeat-x bottom left;
	}
	#navigation li.current ul li a {
		background:none;
		color:#333;
	}
	#navigation li:hover ul {
		display:block;
	}
	#navigation li ul {
		position:absolute;
		top:110px;
		z-index:0;
		display:none;
		padding:10px 0;
		width:160px;
		background:#FFF;
		-webkit-box-shadow:0 1px 3px #999;
		-moz-box-shadow:0 1px 3px #999;
		box-shadow:0 1px 3px #999;	
	}
	#navigation li ul li {
		float:none;
	}
	#navigation li ul li a {
		padding:5px 10px;
		width:auto;
		background-image:none;
		color:#333;
		color:#333;
		font-weight:normal;
		font-size:11px;
		line-height:12px;
	}
	#navigation li ul li a:hover {
		color:#A20000;
	}
	#site-info {
		margin-top:8px;
	}
	#call-us {
		margin-top:25px;
	}
	
	
	
	/* 17.2 Homepage
	------------------------- */
	.promo {
		float:left;
		padding:0 20px;
		width:292px;
		height:170px;
	}
	.caption {
		bottom:32px;
		padding:4px 8px;
		width:276px;
		font-size:16px;
		line-height:22px;
	}
	.caption span {
		font-size:22px;
	}
	#promo-container .promo:first-child {
		padding-left:0;
		border-left:0;
	}
	#promo-container .promo:last-child {
		padding-right:0;
		border-right:0;
	}
	#popout {
		float:right;
		margin-top:20px;
		padding:45px 0 30px 30px;
		width:170px;
		background:transparent url(../img/popout.png) no-repeat left center;
	}
	#feature {
		float:left;
		width:730px;
	}
	#popout .btn {
		padding:11px 0;
		width:100%;
		text-align:center;
		font-size:18px;
	}
	#popout .reset {
		margin-left:0;
	}
	#popout p {
		text-align:center;
		font-weight:700;
		font-size:18px;
	}
	#ticker {
		margin-top:20px;
	}
	
	
	
	/* 17.3 Content
	------------------------- */
	#page {
		width:960px;
	}
	#content {
		float:right;
		width:685px;
		border-left:2px solid #F2F2F2;
	}
	 
	
	
	/* 17.4 Sidebar
	------------------------- */
	#sidebar {
		float:left;
		width:243px;
	}
	#ad-block {
		width:200px;
	}
	
	
	
	/* 17.5 General CLasses
	------------------------- */
	.container {
		width:960px;
	}



/* End Desktop Styles */	
}



/* 18. Retina Styles
------------------------- */
@media only screen and (-webkit-min-device-pixel-ratio: 2){
	
	#body,#campaign {
		background-image:url(../img/background@2x.png);
	}
	#go {
		background-image:url(../img/search.png);
		background-size:29px 27px;
	}
	#social li a {
		background-image:url(../img/social@2x.png);
		background-size:32px 32px;
	}
	
/* End Retina Styles */
}



/* 19. Print Styles
------------------------- */
@media print {



	#header,#page,#footer {
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
	}
	#body,#header,#footer,#page {
		background:none;
	}
	#navigation,#toggle-navigation,#site-info,#sidebar,#footer,#page input[type="submit"],#page button,a.btn,iframe,.map,.video,.video-placeholder {
		display:none;
	}
	.container,#page {
		position:relative;
		width:100%;
	}
	#area-name {
		position:absolute;
		top:-55px;
		right:0;
		z-index:100;
	}
	#content {
		float:none;
		padding:0;
		width:100%;
		border-left:none;
	}
	#content ul.courses,#content ul.rooms {
		margin-left:0 !important;
	}
	#content ul.courses li:first-child,#content ul.rooms li:first-child {
		border-left:2px solid #F2F2F2;
	}
	p a:link:after,p a:visited:after {
		content: " [link: " attr(href) "] ";
		font-size:13px;
	}
	.hidden,#content ul.toggle-tabs .text {
		display:block !important;
	}
	.fc-event-skin {
		background:none !important;
		color:#000 !important;
	}	
	.fc-event-hori {
		padding:1px 0 0 0 !important;
		border-width:0 0 1px 0 !important;
		border-bottom-style:dotted !important;
		border-bottom-color:#000 !important;
	}	
	.fc-event-hori .fc-event-inner {
		padding:0 1px !important;
		border-width:0 !important;
	}
	.fc-event-vert {
		padding:0 1px 0 0 !important;
		border-width:0 0 0 1px !important;
		border-left-style:dotted !important;
		border-left-color:#000 !important;
	}	
	.fc-event-vert .fc-event-inner {
		padding:1px 0 !important;
		border-width:0 !important;
	}
	.fc-event-bg {
		display:none !important;
	}	
	.fc-event .ui-resizable-handle {
		display:none !important;
	}
	
	

/* End Print Styles */
}