#header { border-bottom:1px solid #DDD; }
.svg { display:none; }
#navigation li a { padding-bottom:20px !important; }
#search { line-height:25px; }
.promo { padding:0 5px;}
#page {	border:1px solid #DDD; }
input[type="text"]:focus,input[type="email"]:focus,input[type="search"]:focus,input[type="password"]:focus,textarea:focus { border-color:#999; }
input[type=file]:focus,input[type=checkbox]:focus,select:focus { outline:1px dotted #999; }
#footer { border-top:1px solid #DDD; }