<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<title>Page Title - University of Louisville</title>
		<meta name="description" content="The Delphi Center promotes excellence in teaching and learning. Our numerous program areas serve a diverse audience with one common goal: to promote academic and professional growth through education." />
		<meta name="keywords" content="delphi center, university of louisville, teaching and learning, faculty development, ideas to action, blackboard, online learning, event and conference services, weddings, professional development, lifelong learning, options" />
		<link rel="shortcut icon" type="image/x-icon" href="-/img/favicon.ico" />
		<link rel="shortcut icon" href="-/img/favicon.png" type="image/png" />
		<link href="-/css/-extras/reset.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-3129504-25']);
			_gaq.push(['_setDomainName', 'none']);
			_gaq.push(['_setAllowLinker', true]);
			_gaq.push(['_trackPageview']);
			_gaq.push(['p._setAccount', 'UA-2669423-1']);
			_gaq.push(['p._setDomainName', 'none']);
			_gaq.push(['p._setAllowLinker', true]);
			_gaq.push(['p._trackPageview']);
			(function(){
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
			setTimeout('_gaq.push([\'_trackEvent\', \'NoBounce\', \'Over 10 seconds\'])',10000);
		</script>
	</head>
	<body>
		<div id="content-placeholder"></div>
		<script type="text/javascript" src="-/js/plugins.js"></script>
		<script type="text/javascript" src="-/js/script.js"></script>
		<script type="text/javascript">
			var _gauges = _gauges || [];
			(function(){
				var t   = document.createElement('script');
				t.type  = 'text/javascript';
				t.async = true;
				t.id    = 'gauges-tracker';
				t.setAttribute('data-site-id', '5076d723613f5d7661000029');
				t.src = '//secure.gaug.es/track.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(t, s);
			})();
		</script>
	</body>
</html>