<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<title>Page Title - University of Louisville</title>
		<link rel="shortcut icon" type="image/x-icon" href="-/img/favicon.ico" />
		<link rel="shortcut icon" href="-/img/favicon.png" type="image/png" />
		<script type="text/javascript" src="//use.typekit.net/uta8kfx.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<!--[if lte IE 8 ]>
		<script type="text/javascript" src="-/js/-ie/selectivizr.js"></script>
		<![endif]-->
		<link href="-/css/style.css" rel="stylesheet" type="text/css" />
		<!--[if lte IE 8]>
		<link href="-/css/-ie/8.css" rel="stylesheet" type="text/css" />
		<![endif]-->
		<!--[if IE 7]>
		<link href="-/css/-ie/7.css" rel="stylesheet" type="text/css" />
		<![endif]-->
		<!--[if lte IE 8 ]>
		<script type="text/javascript" src="-/js/-ie/respond.js"></script>
		<![endif]-->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-3129504-25']);
			_gaq.push(['_setDomainName', 'none']);
			_gaq.push(['_setAllowLinker', true]);
			_gaq.push(['_trackPageview']);
			_gaq.push(['p._setAccount', 'UA-2669423-1']);
			_gaq.push(['p._setDomainName', 'none']);
			_gaq.push(['p._setAllowLinker', true]);
			_gaq.push(['p._trackPageview']);
			(function(){
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
			setTimeout('_gaq.push([\'_trackEvent\', \'NoBounce\', \'Over 10 seconds\'])',10000);
		</script>
	</head>
	<body>
		<div id="header">
			<div class="container group">
				<div id="logo">
					<a href="http://louisville.edu/">
						<img class="svg" src="-/img/logo.svg" alt ="University of Louisville" />
						<!--[if lte IE 8]>
							<img src="-/img/logo.png" alt="University of Louisville />
						<![endif]-->
					</a>
				</div><!-- /logo -->
				<div id="line-callout">Sign in to get started.</div>
			</div><!-- /container -->
		</div><!-- /header -->
		<div id="body">
			<div class="container">
				<div class="group">
					<h2 id="area-name"><a href="http://louisville.edu/delphi">Delphi Center<span> for Teaching and Learning</span></a></h2>
					<div id="site-info" class="right">
						<ul>
							<li><a href="http://louisville.edu/delphi/about/contact">Contact Us</a></li>
							<li><a href="http://louisville.edu/delphi/site">Sitemap</a></li>
							<li id="search-form">
								<form action="http://search.louisville.edu/search" method="get">
									<fieldset>
										<label for="q" class="hidden">Search:</label>
										<input type="text" name="q" id="search" placeholder="Search&hellip;" />
										<input type="submit" id="go" name="btnHeaderSearch" value="Go" />
										<div class="hidden">
											<input type="hidden" value="0" name="entqr" />
											<input type="hidden" value="1" name="ud" />
											<input type="hidden" value="date:D:L:d1" name="sort" />
											<input type="hidden" value="xml_no_dtd" name="output" />
											<input type="hidden" value="UTF-8" name="oe" />
											<input type="hidden" value="UTF-8" name="ie" />
											<input type="hidden" value="uofl-frontend" name="client" />
											<input type="hidden" value="uofl-frontend" name="proxystylesheet" />
											<input type="hidden" value="default_collection" name="site" />
										</div>
									</fieldset>
								</form>
							</li>
						</ul>
					</div><!-- /site-info -->
				</div><!-- /group -->
				<div id="login">
					<div class="message-container"><span id="message-placeholder"></span></div>
					<form action="login_form" method="post">
						<input type="hidden" name="came_from" value="" />
						<input type="hidden" name="next" />
						<input type="hidden" name="ajax_load" />
						<input type="hidden" name="ajax_include_head" />
						<input type="hidden" name="target" />
						<input type="hidden" name="mail_password_url" />
						<input type="hidden" name="join_url" />
						<input type="hidden" name="form.submitted" value="1" />
						<input type="hidden" name="js_enabled" id="js_enabled" value="0" />
						<input type="hidden" name="cookies_enabled" id="cookies_enabled" value="" />
						<input type="hidden" name="login_name" id="login_name" value="" />
						<input type="hidden" name="pwd_empty" id="pwd_empty" value="0" />
						<div class="field">
							<label for="__ac_name">ULink ID:</label>
							<input type="text" name="__ac_name" id="__ac_name" placeholder="abcdef01" />
						</div>
						<div class="field">
							<label for="__ac_password">Password:</label>
							<input type="password" name="__ac_password" id="__ac_password" />
						</div>
						<div class="field">
							<input type="submit" value="Sign in" name="submit" />
						</div>
					</form>
				</div><!-- /login -->
			</div><!-- /container -->
		</div><!-- /body -->
		<div id="footer">
			<div class="container group">
				<ul class="footer-nav">
					<li><a href="http://louisville.edu/conferenceservices">Conference Services</a></li>
					<li><a href="http://louisville.edu/lifelonglearning">Lifelong Learning</a></li>
					<li><a href="http://louisville.edu/online">Online Learning</a></li>
					<li><a href="http://louisville.edu/professionaldevelopment">Professional Development</a></li>
				</ul>
				<ul class="footer-nav inner">
					<li><a href="http://louisville.edu/weddings">Weddings</a></li>
					<li><a href="http://louisville.edu/delphi/about/contact">Contact Us</a></li>
					<li><a href="http://louisville.edu/delphi/site">Sitemap</a></li>
				</ul>
				<div class="right group">
					<p>Copyright <span id="csymbol">&copy;</span> <span id="cyear">2012</span> - <a href="http://louisville.edu">University of Louisville</a>, <a href="http://louisville.edu/delphi">Delphi Center</a></p>
				</div><!-- /site-info -->
			</div><!-- /container -->
		</div><!-- /footer -->
		<script type="text/javascript" src="-/js/plugins.js"></script>
		<script type="text/javascript" src="-/js/script.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				var input = $('input[name$="came_from"]');
				if(getQuerystring('came_from') !== ''){
					input.val(getQuerystring('came_from'));
				} else{
					input.val('http://louisville.edu/delphi');
				}
			});
			function getQuerystring(key, default_){
				if(default_==null) default_=""; 
				key = key.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
				var regex = new RegExp("[\\?&]"+key+"=([^&#]*)");
				var qs = regex.exec(window.location.href);
				if(qs == null)
					return default_;
				else
					return qs[1];
			}
		</script>
	</body>
</html>